.meetFounderSection {
    background-color: #fff;
    overflow: hidden;
  }
  
  .contentWrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
  
  .textColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 40px;
  }
  
  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #bf5a5a;
    font: 700 30px Playfair Display, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 110px 30px 0 35px;
  }
  
  .title {
    align-self: start;
    margin-left: 10px;
  }
  
  .decorativeBorder {
    border-radius: 20px;
    display: flex;
    margin: 5px 0 0 -1px;
    border: 2px solid #8f2c5a;
  }
  .founderText{
    color: #BC6868;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding: 13px;
  }
  .imageColumn {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    line-height: normal;
    margin-left: 20px;
    position: relative;
  }
.founderContainer{
  position: relative;
}
  .founderImage {
    aspect-ratio: 0.83;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
    width: 558px;
  }
  
  .founderTopImage{
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;
  }
  .namecardTextContainer{
    text-align: left;
    color: var(--Neutrals-Colors-100, #FFF);
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 17px 73px;
  }
.founderName{
    font-family: "Playfair Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
  .namecardImage {
    background-image: url(../../../public/assets/namecard.svg); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: absolute;
    top: 449px;
    left: -239px;
    width: 100%;
    height: 148px; 
    z-index: 0;
    text-align: left;
  }
  
  .namecardbottomImage{
      position: absolute;
      top: 569px;
      left: -238px;
    }
  .socialLinks{
    position: absolute;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.70);
    backdrop-filter: blur(2px);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 299px;
      bottom: 77px;
      z-index: 10;
      left: 148px;
      gap: 5px; 
    }
    .iconLink{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .iconLink img {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 9px 11px;
      background: var(--rn-53-themes-net-wild-sand, #F7F7F7);
      width: 18px;
      height: 18px;
      transition: transform 0.4s ease, box-shadow 0.4s ease; 
    }
    
    .iconLink img:hover {
      background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
      transform: rotate(360deg); 
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
    }
    
    
  @media (max-width: 1250px) {
    .meetFounderSection {
      zoom: 70%;
    }
  }
  
  @media (max-width: 768px) {
    .meetFounderSection {
      zoom: 70%;
    }
  
    .contentWrapper {
      flex-direction: column;
      gap: 0;
    }
   .founderContainer{
    zoom: 70%;
    margin-right: 20px;
   }
   .textColumn{
    margin-left: 0px;
   }

  }
  
  @media (max-width: 375px) {
    .meetFounderSection {
      zoom: 45%;
    }
  }
  
  @media (max-width: 316px) {
    .meetFounderSection {
      zoom: 45%;
    }
  }
