
  .container{
    background: var(--preview-themeforest-net-black, #000);
    display: flex;
    flex-direction: column;
  }
  .upperfooter {
    color: #fff;
    font-family: Poppins;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: left;
  }
  .footersection {
    text-align: left;
    width: 30%;
  }
  .footerTitle {
    color: var(--preview-themeforest-net-white, var(--Neutrals-Colors-100, #FFF));
    font-family: 'Prociono';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px; /* 120% */
    margin-bottom: 30px;
  }
  .arrow{
    padding-right: 10px;
  }
  .footersection p {
    color: var(--preview-themeforest-net-white, var(--Neutrals-Colors-100, #FFF));
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.2px; /* 170% */
    text-decoration-line: none;
    padding-bottom: 10px;
  }
  .footersection a {
    color: #fff;
    text-decoration: none;
  }
  .footersection a:hover {
    text-decoration: underline;
  }
  .social-icons {
    display: flex;
    margin-top: 10px;
  }
  .social-icons i {
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
  }
  .form-section {
    width: 20%;
    position: relative;
    left: -50px;

  }
  .container input[type="text"], .footersection
  input[type="email"] {
    background: var(--preview-themeforest-net-black, #000);
    border: none; /* Remove all borders */
    border-bottom: 2px solid var(--preview-themeforest-net-white, #FFF);
    outline: none; /* Remove the default focus outline */
    padding: 8px; /* Adjust padding as needed */
    width: 279.13px;
    display: flex;
  }
  .sendmsgbutton {
    background: var(--preview-themeforest-net-black, #000);
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid var(--preview-themeforest-net-white, #FFF);
    cursor: pointer;
  }

  .sendmsgbutton:hover {
    background-color:#f5a623 ; /* Darker green on hover */
  }
 .divider {
    border-top: 0.667px solid var(--preview-themeforest-net-dove-gray, #726E6E); 
    margin: 0 auto;
    width: 94%;
  }
  .footerbottom {
    color: var(--preview-themeforest-net-white, var(--Neutrals-Colors-100, #FFF));
    background: var(--preview-themeforest-net-black, #000);
    display: flex;
    padding: 30.07px 0px 14.99px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .social-icons {
    margin-top: 20px;
    height: 21px;
    width: 21px;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #f5a623;
}

@media (max-width: 768px) {
  .container {
    zoom: 80%;
  }
  .upperfooter{
    flex-direction: column;
  }
  .footersection{
    width: 100%;
    margin-bottom: 20px;
  }
  .footerTitle{
    margin-bottom: 15px
  }
}
