@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
.popup {
    position: absolute;
    max-width: 400px;
    background: var(--rn-53-themes-net-nero, #FFF);
    box-shadow: 6px 0px 26px -9px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 69.9px;
    right: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    padding: 36px; 
    z-index: 10001;
    text-align: left;
}

.closeButton {
    position: absolute;
    z-index: 0;
    display: flex;
    width: 21.6px; 
    padding-bottom: 2.7px; 
    flex-direction: column;
    justify-content: flex-start;
    right: 18px; 
    top: 18px; 
    background: none;
    border: none;
    cursor: pointer;
}

.closeIcon {
    aspect-ratio: 0.8;
    object-fit: contain;
    object-position: center;
    width: 21.6px; 
}

.content {
    z-index: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    width: 100%;
    padding-bottom: 6.3px; 
    color: var(--rn-53-themes-net-west-coast, #66451c);
    font: 400 20px/27px Poppins, -apple-system, Roboto, Helvetica, sans-serif; 
}

.contactList {
    display: flex;
    margin-top: 21.6px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.contactItem {
    display: flex;
    padding-bottom: 0.9px; 
    align-items: center;
    justify-content: flex-start;
    margin-top: 10.8px; 
    text-decoration: none;
}

.contactItem:first-child {
    margin-top: 0;
}

.contactLink {
    color: var(--rn-53-themes-net-ebony-clay, #202b3a);
    padding: 0 0 0 22.5px;
    font: 500 14px Poppins, sans-serif; 
    text-align: left;
    text-decoration: none;
}

.contactIcon {
    align-items: center;
    border-radius: 5px;
    background: var(--rn-53-themes-net-victoria, #4b3e7e);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6.1px 8.73px;
}

.iconImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16.2px; 
}

.expertSupport {
    border-top: 0.6px solid var(--rn-53-themes-net-mercury, #e7e7e7); 
    display: flex;
    margin-top: 19.6px; 
    width: 100%;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    color: var(--rn-53-themes-net-west-coast, #66451c);
    padding: 20px 0 10.8px;
}

.expertSupportTitle {
    padding-bottom: 13.5px; 
    font-size: 14px; 
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.expertProfile {
    align-self: flex-start;
    display: flex;
    font-size: 14.4px; 
    font-weight: 400;
    margin: 6.3px 0 0 15.3px; 
}

.expertImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 55.5px; 
}

.expertInfo {
    display: flex;
    padding-left: 18px; 
    flex-direction: column;
    justify-content: flex-start;
}

.expertName {
    width: 100%;
    padding-bottom: 0.9px; 
    font-weight: 700;
    line-height: 1.2;
}

.expertTitle {
    font-size: 13px; 
    margin-top: 3.6px; 
}

.askButton {
    align-self: flex-start;
    border-radius: 4px;
    background: var(--rn-53-themes-net-lynch, #607d8b);
    margin-top: 3.6px; 
    font-family: Josefin Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: var(--rn-53-themes-net-nero, var(--Neutrals-Colors-100, #fff));
    text-align: center;
    padding: 10.7px 9.8px ; 
    border: none;
    cursor: pointer;
}

.socialLinks {
    display: flex;
    margin-top: 21.6px;
    width: 100%;
    padding-top: 5.4px; 
    align-items: flex-start;
    gap: 3.6px; 
    justify-content: flex-start;
}

  .socialLink {
    padding: 9px 11px;
    border-radius: 5px;
    background: var(--rn-53-themes-net-wild-sand, #F7F7F7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  .socialLink svg {
    color: black; /* Default black icons */
    width: 18px;
    height: 18px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, color 0.4s ease;
  }
  
  .socialLink:hover svg {
    transform: scale(1.2);
    color: #fff; /* Icons will turn white on hover */
  }
  
  .socialLink::before {
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
    transition: background 0.7s ease;
  }
  
  .socialLink:hover::before {
    animation: slide 0.7s forwards;
  }
  
  @keyframes slide {
    50% {
      left: 10%;
      top: -40%;
    }
    100% {
      left: -15%;
      top: -15%;
    }
  }
  
  /* Specific colors for each hover effect */
  .socialLink.facebook:hover::before {
    background: #3b5998;
  }
  .socialLink.instagram:hover::before {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  }
  .socialLink.twitter:hover::before {
    background: #1da1f2;
  }
  .socialLink.whatsapp:hover::before {
    background: #25d366;
  }
  .socialLink.linkedin:hover::before {
    background: #0077b5;
  }
  .socialLink.youtube:hover::before {
    background: #ff0000;
  }
  
@media (max-width: 768px) {
    .popup {
        zoom: 80%;
        top: 83.1px;
        right: 4.3px;
    }
}

@media (max-width: 375px) {
    .popup {
        zoom: 90%;
    }
}

@media (max-width: 320px) {
    .popup {
        zoom: 80%;
    }
}
